<div id='homepage'>
  <div class='container'>
    <div id='header'></div>
    <a href="/">
      <h1 class='page-title animated fadeIn'>Christmas Dumberland</h1>
    </a>
    <p class='subtitle-text animated fadeIn'>
      Send a friend a Dumb Christmas gift.<br>
      Pick a present to share a surprise with a twist.
    </p>

    <div class='homepage-animation animated fadeIn' data-json='homepage_santa_full.json'>
      <div></div>
    </div>

    <div class='presents-container animated fadeIn'>
      <div class='present present-1' data-json='present_shake.json'><div></div></div>
      <div class='present present-2' data-json='present_shake.json'><div></div></div>
      <div class='present present-3' data-json='present_shake.json'><div></div></div>
      <div class='present present-4 hidden-xs' data-json='present_shake.json'><div></div></div>
      <div class='present present-5 hidden-xs' data-json='present_shake.json'><div></div></div>
      <div class='present present-6 hidden-xs' data-json='present_shake.json'><div></div></div>
      <div class='present present-7' data-json='present_shake.json'><div></div></div>
      <div class='present present-8' data-json='present_shake.json'><div></div></div>
      <div class='present present-9' data-json='present_shake.json'><div></div></div>
      <div class='present present-10 hidden-xs' data-json='present_shake.json'><div></div></div>
      <div class='present present-11 hidden-xs' data-json='present_shake.json'><div></div></div>
      <div class='present present-13 hidden-xs' data-json='present_shake.json'><div></div></div>

    </div>
 </div>
    
    <div class="information-wrapper">
        <p class="informational">Step 1: Select a christmas <br class="visible-xs" /> present to send</p>
    <p class="informational">Step 2: Share to your friends <br class="visible-xs" /> on social media</p>
    <p class="informational">Step 3: Check out what you sent on Facebook or Twitter</p></div>
    
    
  <div id='footer'></div>
</div>

