<div id='homepage'>
  <div class='container'>
    <div id='header'></div>
    <a href="/">
      <h1 class='page-title animated fadeIn'>Christmas Dumberland</h1>
    </a>
    <p class='intro-text animated fadeIn'>
      Send a friend a Dumb Christmas gift.<br>
      Pick a present to share a surprise with a twist.
    </p>

    <div class='homepage-animation animated fadeIn' data-json='homepage_santa_full.json'>
      <div></div>
    </div>

    <div class='presents-container animated fadeIn'>
      <div class='present present-1' data-json='present_shake.json'><div></div></div>
      <div class='present present-2 hidden-sm hidden-xs' data-json='present_shake.json'><div></div></div>
      <div class='present present-3 hidden-xs' data-json='present_shake.json'><div></div></div>
      <div class='present present-4' data-json='present_shake.json'><div></div></div>
      <div class='present present-5' data-json='present_shake.json'><div></div></div>
      <div class='present present-6 hidden-xs' data-json='present_shake.json'><div></div></div>
      <div class='present present-7' data-json='present_shake.json'><div></div></div>
      <div class='present present-8 hidden-sm hidden-xs' data-json='present_shake.json'><div></div></div>
      <div class='present present-9' data-json='present_shake.json'><div></div></div>
      <div class='present present-10 hidden-xs' data-json='present_shake.json'><div></div></div>
      <div class='present present-11' data-json='present_shake.json'><div></div></div>
      <div class='present present-13 hidden-sm hidden-xs' data-json='present_shake.json'><div></div></div>
      <div class='present present-14' data-json='present_shake.json'><div></div></div>
      <div class='present present-15 hidden-xs' data-json='present_shake.json'><div></div></div>
      <div class='present present-16' data-json='present_shake.json'><div></div></div>
      <div class='present present-17 hidden-sm hidden-xs' data-json='present_shake.json'><div></div></div>
      <div class='present present-18 hidden' data-json='present_shake.json'><div></div></div>
      <div class='present present-19 hidden-xs' data-json='present_shake.json'><div></div></div>
      <div class='present present-20 hidden-xs' data-json='present_shake.json'><div></div></div>
    </div>
 </div>

  <div id='footer'></div>
</div>

