<div id='homepage'>
  <div class='container'>
    <div id='header'></div>

    <h1 class='page-title'>Christmas Dumberland</h1>
    <p class='intro-text'>Send a Dumb Christmas surprise.<br>Select a present to start.</p>

    <div class='homepage-animation' data-json='homepage_santa_full.json'>
      <div></div>
    </div>

    <div class='presents-container'>
      <div class='present present-1' data-json='present_shake.json'><div></div></div>
      <div class='present present-2' data-json='present_shake.json'><div></div></div>
      <div class='present present-3' data-json='present_shake.json'><div></div></div>
      <div class='present present-4' data-json='present_shake.json'><div></div></div>
      <div class='present present-5' data-json='present_shake.json'><div></div></div>
      <div class='present present-6' data-json='present_shake.json'><div></div></div>
      <div class='present present-7' data-json='present_shake.json'><div></div></div>
      <div class='present present-8' data-json='present_shake.json'><div></div></div>
      <div class='present present-9' data-json='present_shake.json'><div></div></div>
      <div class='present present-10' data-json='present_shake.json'><div></div></div>
      <div class='present present-11' data-json='present_shake.json'><div></div></div>
      <div class='present present-12' data-json='present_shake.json'><div></div></div>
    </div>
 </div>

  <div id='footer'></div>
</div>

