<div id='homepage'>
  <div class='container'>
    <div id='header'></div>

    <h1 class='page-title'>Christmas Dumberland</h1>
    <p class='intro-text'>Send a Dumb Christmas surprise.<br>Select a present to start.</p>

    <div class='presents-container'>
      <div class='present'><img src='/assets/img/present.png' alt='Christmas present'></div>
      <div class='present'><img src='/assets/img/present.png' alt='Christmas present'></div>
      <div class='present'><img src='/assets/img/present.png' alt='Christmas present'></div>
      <div class='present'><img src='/assets/img/present.png' alt='Christmas present'></div>
      <div class='present'><img src='/assets/img/present.png' alt='Christmas present'></div>
      <div class='present'><img src='/assets/img/present.png' alt='Christmas present'></div>
    </div>
 </div>

  <div id='footer'></div>
</div>

