<div id='message'>
  <div class='container'>
    <div id='header'></div>

    <h1 class='page-title'>Christmas Dumberland</h1>

    <div class='message-content'>
      <p class='intro-text'>Send a Dumb present.</p>

      <form>

        <div class='row'>

          <div class='col-md-6'>
            <h3>Send gift to</h3>
            <div class="form-group">
              <label for="to_name">First name*</label>
              <input type="text" class="form-control" name="to_name" id="to_name" placeholder="Friends name">
            </div>
            <div class="form-group">
              <label for="to_email">Email*</label>
              <input type="email" class="form-control" name="to_email" id="to_email" placeholder="Friends email">
            </div>

            <h3>Your message</h3>
            <div class="form-group">
              <textarea name="message" class="form-control" rows="3" placeholder="Message to your friend"></textarea>
            </div>
          </div>

          <div class='col-md-6'>
            <h3>Your details</h3>
            <div class="form-group">
              <label for="from_name">First name*</label>
              <input type="text" class="form-control" name="from_name" id="from_name" placeholder="Your name">
            </div>
            <div class="form-group">
              <label for="from_email">Email*</label>
              <input type="email" class="form-control" name="from_email" id="from_email" placeholder="Your email">
            </div>
            
            <h3>&nbsp;</h3>
            <div class="form-group">
              <div class="checkbox">
                <input type="checkbox" name='terms' id='terms-checkbox'> 
                
                <label for='terms-checkbox' class='form-control'>
                  <span></span>I agree to the <a data-event='terms-button' href='#'>terms &amp; conditions</a>
                </label>
              </div>
            </div>

            <div class='btn-center'>
              <button type="submit" class="btn">Send</button>
            </div>
          </div>
        </div>
        
      </form>
    </div>
  </div>

  <div id='footer'></div>
</div>
