<div id='present'>
  <div class='container animated fadeIn tool'>
    <div id='header'></div>

    <h1 class='page-title'>Christmas Dumberland</h1>

    <h3>Hey {{to_name}}!</h3>

    <p class='intro-text'>
    Will it scratch? Will it bite?<br>
    Will it be a bloodcurdling sight?<br>
    {{from_name}} sent you a Dumb Present, what’s inside?
    </p>

    <div class='santa-present-dance' data-json='santa_present_dance.json'>
      <div></div>
    </div>

    <div class='row buttons-cont'>
      <div class='col-md-4'>&nbsp;</div>
      <div class='col-md-4'>
        <button type='button' data-event='open' class='btn btn-block'>Open it</button>
        <br>
        <a href='/' class='btn btn-secondary btn-block'>Send your own</a>
      </div>
      <div class='col-md-4'>&nbsp;</div>
      <div class='col-xs-12'>
        <h2>Share</h2>
      </div>

      <div class='col-md-4'>&nbsp;</div>
      <div class='col-xs-12 col-md-4 btn-duo-center'>
        <button type='button' class='btn btn-facebook'>
          <i class='fa fa-facebook'></i>
          Facebook
        </button>
        <button type='button' class='btn btn-twitter'>
          <i class='fa fa-twitter'></i>
          Twitter
        </button>
      </div>
      <div class='col-md-4'>&nbsp;</div>
    

    </div>

  </div>

  <div id='footer'></div>
</div>

<!-- modal -->

<div id='present-modal' class="modal full-screen fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class='row'>
          <div class='col-xs-12'>
            <div class="gfyitem" data-title=true data-autoplay=true data-controls=true data-expand=false data-id="{{present}}" ></div> 
          </div>
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
