<div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '894257343963270',
        xfbml      : true,
        version    : 'v2.5'
      });
    };
    (function() {
      var e = document.createElement('script'); e.async = true;
      e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
      document.getElementById('fb-root').appendChild(e);
    }());

  $('.fb-share-button').click(function(){
    ga('send', 'event', 'Button Clicks', 'facebook.com');
    FB.ui({
      method: 'share',
      href: 'http://localhost/video/10',
      title: 'Dumberland',
      link: 'http://localhost/video/10',
      description: 'Give the gift of surprise this Christmas. Send a Dumb Present from the Christmas Dumberland.'
    }, function(response){
        console.log(response);
    });
  });
</script>
<div id='share'>
  <div class='container'>
    <div id='header'></div>
    <a href="/">
    <h1 class='page-title animated fadeIn'>Christmas Dumberland</h1>
    </a>
    <div class='message-content'>
      <p class='intro-text animated fadeIn'>Share a Dumb present.</p>

      <div class='santa-present-dance animated fadeIn' data-json='santa_present_dance.json'>
        <div></div>
      </div>

      <div class='row animated fadeIn'>
        <h3>&nbsp;</h3>
            
        <div class='col-sm-6' style="margin-bottom: 15px;">
          <button class='btn btn-facebook btn-block fb-share-button'>
            <i class='fa fa-facebook' style="margin-left: -15px;"></i>
            Facebook
          </button>
        </div>
        <div class='col-sm-6' style="margin-bottom: 15px;">
          <button class='btn btn-twitter btn-block' data-url='https://twitter.com/intent/tweet?text=Send a DumbPresent from the DWTD Dumberland.' data-hashtags='DumbPresent'>
            <i class='fa fa-twitter' style="margin-left: -7px;"></i>
            Twitter
          </button>
        </div>
        
        <br>

        <div style="text-align: center;">
          <span>View the </span><a data-event='terms-button' href='#'>terms &amp; conditions</a>
        </div>
      </div>
        
    </div>
  </div>

  <div id='footer'></div>
</div>