<div id='thank'>
  <div class='container'>
    <div id='header'></div>

    <h1 class='page-title'>Christmas Dumberland</h1>

    <div class='message-content'>
      <h2>Thank {{from_name}}</h2>
      <p class='intro-text'>Send a thank you message to {{from_name}} for sending <br>
      you a {{present}}.</p>

      <div class='santa-nopres-dance' data-json='santa_nopres_dance.json'>
        <div></div>
      </div>

      <form>
        <div class='row'>
          <div class='col-md-4'>&nbsp;</div>
          <div class='col-md-4 col-xs-12'>
            <h3>Your message</h3>
            <div class="form-group">
              <textarea name="message" class="form-control" rows="3" placeholder="Message to your friend"></textarea>
            </div>

            <div class='btn-center'>
              <button type="submit" class="btn">Send</button>
            </div>
          </div>
          <div class='col-md-4'>&nbsp;</div>
        </div>
      </form>

    </div>

  </div>

  <div id='footer'></div>
</div>
