<div id='video'>
  <div class='container'>
    <div class="video-overlay">
      <button class="btn btn-default close-dumb-video"> Close </button>
          <div class="video-container">
            <iframe src="https://www.youtube.com/embed/WBbNJG1kIIw?rel=0" frameborder="0" allowfullscreen></iframe>
          </div>
      </div> 
      <div class="thanks-base col-lg-12">
          <div class="share-modal-title">
            Christmas cheer, blood, bones and gore,
              We hope this was all you wished for and more.
          </div>
          <div class="share-modal-title">
              Wishing you the Dumbest Christmas of all!
          </div>
          <div class="btn-center" style="margin: 3em 0 1.5em 0;">
              <a href="/" class="btn btn-default">Send a Dumb Present</a>
      </div>          
    </div>
  </div>

  <div id='footer'></div>
</div>