<div id='video'>
  <div class='container'>
    <a href="/another"> Close </a>
      <div class="video-container">
        <iframe src="https://www.youtube.com/embed/WBbNJG1kIIw?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
        
    </div>
  </div>

  <div id='footer'></div>
</div>