<div id='video'>
    <div class="">
            <div class="video-overlay" >
            <div class="row">
                <div class="col-xs-12" style="padding-bottom: 20px;">  
                    <div class="video-container animated fadeIn">
                        <iframe id="vimplayer" src="https://player.vimeo.com/video/148047052?autoplay=1;color=#a6d2bd;api=1"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


                      </div>
                  </div>
                <div class="col-xs-12">  
                    <button style="margin-right: 15px" class="btn btn-default btn-xs btn-smallest close-dumb-video animated fadeIn pull-right"> Close </button>
                </div>   
            </div>
           </div>    
          <div class='thanks-base'>       
            <a href="/">
              <h1 class='page-title animated fadeIn'>Christmas Dumberland</h1>
            </a>
            <p class='subtitle-text animated fadeIn'>
              Christmas cheer, blood,
                bones and gore, <br>
                
                      We hope this was all you wished for and more.

                <br>
                Wishing you the Dumbest Christmas of all!
            </p>

              <div class=''>
                <img src='/assets/img/deadSanta.png' class='dead-santa animated fadeIn'/>
              </div>  
              <div class="btn-center animated fadeIn" style="margin: 3em 0 0 0;">
                      <a href="/" class="btn btn-default">Send a Dumb Present</a>
              </div>
              <div class="btn-center animated fadeIn" style="margin: 1em 0 4em 0;">
                <button class="btn btn-default watch-button" style="background-color: #66998c; box-shadow: 0 -5px 0 #a6d2bd, 0 5px 0 rgba(0, 0, 0, 0.1);">Watch Again</button>
          </div>
      </div>
      <div id='footer'></div>
     </div> 
</div>