<div id='video'>
    <div class="video-overlay" >
    <div class="col-xs-12" style="padding-top: 20px;
    padding-bottom: 20px;">  
        <button class="btn btn-default close-dumb-video animated fadeIn pull-right"> Close </button>
    </div>
    <div class="col-xs-12">  
        <div class="video-container animated fadeIn">
            <iframe src="https://www.youtube.com/embed/WBbNJG1kIIw?rel=0" frameborder="0" allowfullscreen></iframe>
          </div>
      </div> 
   </div>    
  <div class='container thanks-base'>       
    <a href="/">
      <h1 class='page-title animated fadeIn'>Christmas Dumberland</h1>
    </a>
    <p class='subtitle-text animated fadeIn'>
      Christmas cheer, blood, bones and gore,
              We hope this was all you wished for and more.
      
        <br>
        Wishing you the Dumbest Christmas of all!
    </p>
    
      <div class=''>
        <img src='/assets/img/deadSanta.png' class='dead-santa animated fadeIn'/>
      </div>  
      <div class="btn-center animated fadeIn" style="margin: 3em 0 1.5em 0;">
              <a href="/" class="btn btn-default">Send a Dumb Present</a>
      </div>          
  </div>

  <div id='footer'></div>
</div>