.homepage-animation {
  width: 400px;
  height: 400px;
  position: relative;
  margin: 40px auto 0;

  @media screen and (min-width: 280px) and (max-width: 640px) {
     top: -150px;
     left: -40px;
  } 

  > div {
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(../img/homepage_santa_full.png);
  }
}

.presents-container {
  height: 320px;
  position: relative;
  margin: -170px auto 0;
  max-width: 880px;
  @media screen and (min-width: 1200px) {
    margin-left: 15%;  
  }
  
  @media screen and (min-width: 280px) and (max-width: 640px) {
     top: -150px;
     left: -20px;
  } 


  .present {
    position: absolute;
    cursor: pointer;

    &.active {

    }
    
    @for $i from 1 through 20 {

      &-#{$i} {
        transform: scale((random(100)/1000)+0.3);
        -ms-transform: scale((random(100)/1000)+0.3); /* IE 9 */
        -webkit-transform: scale((random(100)/1000)+0.3); /* Chrome and Safari */

      }

      @if $i == 1 {
          &-#{$i} {
          top: 0px;
          @media screen and (min-width: 280px) and (max-width: 640px) {
            left: 10%;
          }
          left: 0%;
        }
      } 
      @else if $i == 2  {
        &-#{$i} {
          top: -24px;
          left: 16%;
        }
      }
      @else if $i == 3 {
        &-#{$i} {
          top: 32px;
          left: 12%;
        }
      }
      @else if $i == 4 {
        &-#{$i} {
           top: 7px;
           @media screen and (min-width: 280px) and (max-width: 640px) {
            left: -16.5%;
           }
           left: 23.5%;
        }
      }
      @else if $i == 5 {
        &-#{$i} {
          top: 60px;
          left: 30%;
        }
      }
      @else if $i == 6 {
        &-#{$i} {
          top: 0px;
          left: 40%;
        }
      }
      @else if $i == 7 {
        &-#{$i} {
          top: -20px;
          left: 50%;
        }
      }
      @else if $i == 8 {
        &-#{$i} {
          top: -30px;
          left: 60%;
        }
      }
      @else if $i == 9 {
        &-#{$i} {
          top: 25px;
          left: 56%;
        }
      }
      @else if $i == 10 {
        &-#{$i} {
          top: 40px;
          left: 66%;
        }
      } 

      /*-- - --*/
      @else if $i == 11 {
          &-#{$i} {
          top: 60px;
          @media screen and (min-width:280px) and (max-width: 640px) {
            left: -11%;
          }
          left: 5%;
        }
      } 
      @else if $i == 12  {
        &-#{$i} {
          top: 21px;
          left: 9%;
        }
      }
      @else if $i == 13 {
        &-#{$i} {
          top: 92px;
          left: 15%;
        }
      }
      @else if $i == 14 {
        &-#{$i} {
           top: 113px;
           @media screen and (min-width: 280px) and (max-width: 640px) {
            left: 6.5%;
           }
           left: 23.5%;
        }
      }
      @else if $i == 15 {
        &-#{$i} {
          top: 105px;
          left: 42%;
        }
      }
      @else if $i == 16 {
        &-#{$i} {
          top: 150px;
          left: 35%;
        }
      }
      @else if $i == 17 {
        &-#{$i} {
          top: 40px;
          left: 47%;
        }
      }
      @else if $i == 18 {
        &-#{$i} {
          top: 52px;
          left: 37%;
        }
      }
      @else if $i == 19 {
        &-#{$i} {
          top: 115px;
          left: 61%;
        }
      }
      @else if $i == 20 {
        &-#{$i} {
          top: 122px;
          left: 50%;
        }
      }
    }  



    > div {
      display: inline-block;
      overflow: hidden;
      background-repeat: no-repeat;
      background-image: url(../img/present_shake_animation.png);

    }

    // todo: layout

    img {

    }
  }
}
