.santa-present-dance {
  width: 400px;
  height: 400px;
  position: relative;
  margin: -90px auto 0;

  @media screen and (min-width: 280px) and (max-width: 349px) {
    margin-left: -16%;
    margin-top: -33%;  
  } 
  @media screen and (min-width: 350px) and (max-width: 370px) {
    margin-left: -10%;
    margin-top: -20%;  
  }
  @media screen and (min-width: 371px) and (max-width: 410px) {
    margin-left: -10%;
    margin-top: -35%;  
  }    
    
  @media screen and (min-width: 280px) and (max-width: 920px) {
    margin-bottom: -30px;  
  }     
    
    
    

  > div {
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(../img/santa_present_dance.png);
  }
}

.santa-nopres-dance {
  width: 400px;
  height: 400px;
  position: relative;
  margin: -130px auto 0;

  > div {
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(../img/santa_nopres_dance.png);
  }
}
