.santa-present-dance {
  width: 400px;
  height: 400px;
  position: relative;
  margin: 40px auto 0;

  @media screen and (min-width: 280px) and (max-width: 1200px) {
    margin-top:-90px;
  } 

  @media screen and (min-width: 280px) and (max-width: 410px) {
    margin-left: -10%;
  } 

  > div {
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(../img/santa_present_dance.png);
  }
}

.santa-nopres-dance {
  width: 400px;
  height: 400px;
  position: relative;
  margin: 20px auto 0;

  > div {
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(../img/santa_nopres_dance.png);
  }
}
