<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      <img class='footer-logo' src='/assets/img/footer-logo.png' alt='Dumb ways to die'>
    </div>
    <div class='col-xs-12 col-sm-6'>
      <div class='share-links'>
        <a href='https://www.facebook.com/dumbwaystodie/' target='_blank'><i class='fa fa-facebook'></i></a>
        <a href='https://twitter.com/dumbways2die' target='_blank'><i class='fa fa-twitter'></i></a>
        <a href='http://dumbwaystodie.tumblr.com/' target='_blank'><i class='fa fa-tumblr'></i></a>
      </div>
    </div>
    <div class='col-xs-12 col-sm-6'>
      <div class='footer-links'>
        <a href='#' data-event='terms-button-footer'>Terms &amp; conditions</a>
        <a href='https://shop.dumbwaystodie.com' target='_blank'>Visit the shop</a>
      </div>
    </div>
  </div>
</div>
<div id='modal'></div>
