<div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '894257343963270',
        xfbml      : true,
        version    : 'v2.5'
      });
      $('.fb-share-button').click(function(e){
        console.log('something');
        FB.ui({
          method: 'share',
          href: 'http://www.dumberland.com/',
          title: 'Dumberland',
          link: 'http://www.dumberland.com/',
          picture: 'assets/img/fb_share_img.png',
          description: 'Give the gift of surprise this Christmas. Send a Dumb Present from the Christmas Dumberland.'
        });
      });
    };
    (function() {
      var e = document.createElement('script'); e.async = true;
      e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
      document.getElementById('fb-root').appendChild(e);
    }());
</script>

<p class='intro-text'>{{to_name}}'s Dumb Present has been sent.</p>

<div class='santa-nopres-dance' data-json='santa_nopres_dance.json'>
  <div></div>
</div>

<div class='row message-complete-cont'>
  <div class='col-md-4'>&nbsp;</div>
  <div class='col-md-4'>
    <button data-event='reset' type='button' class='btn btn-block'>Send another</button>
  </div>
  <div class='col-md-4'>&nbsp;</div>
  <div class='col-xs-12'>
    <h2>Tell your friends<br> about Dumberland </h2>
  </div>

  <div class='col-md-4'>&nbsp;</div>
  <div class='col-md-4 btn-duo-center'>
    <button class='btn btn-facebook fb-share-button'>
      <i class='fa fa-facebook'></i>
      Facebook
    </button>
    <button class='btn btn-twitter' data-url='https://twitter.com/intent/tweet?text=Send a DumbPresent from the DWTD Dumberland.' data-hashtags='DumbPresent'>
      <i class='fa fa-twitter'></i>
      Twitter
    </button>
  </div>
  <div class='col-md-4'>&nbsp;</div>  
</div>

<script>
  $('.fb-share-button').click(function() {
    ga('send','event','Button Clicks','facebook.com');
  });
  $('.btn-twitter').click(function() {
    ga('send','tweet','Button Clicks','twitter.com');
  });
</script>