<p class='intro-text'>
To {{to_name}} with haste,<br>
Your Dumb Present is on its way.
</p>

<div class='santa-nopres-dance' data-json='santa_nopres_dance.json'>
  <div></div>
</div>

<div class='row message-complete-cont'>
  <div class='col-md-4'>&nbsp;</div>
  <div class='col-md-4'>
    <a href='/' type='button' class='btn btn-block'>Send another</a>
  </div>
  <div class='col-md-4'>&nbsp;</div>
  <div class='col-xs-12'>
    <h2>Tell your friends<br> about Dumberland </h2>
  </div>

  <div class='col-md-4'>&nbsp;</div>
  <div class='col-md-4 btn-duo-center'>
    <button class='btn btn-facebook fb-share-button'>
      <i class='fa fa-facebook'></i>
      Facebook
    </button>
    <button class='btn btn-twitter' data-url='https://twitter.com/intent/tweet?text=Send a DumbPresent from the DWTD Dumberland.' data-hashtags='DumbPresent'>
      <i class='fa fa-twitter'></i>
      Twitter
    </button>
  </div>
  <div class='col-md-4'>&nbsp;</div>  
</div>
