<p class='intro-text'>{{to_name}}'s Dumb Present has been sent.</p>

<div class='row message-complete-cont'>
  <div class='col-md-4'>&nbsp;</div>
  <div class='col-md-4'>
    <button data-event='reset' type='button' class='btn btn-block'>Send another</button>
  </div>
  <div class='col-md-4'>&nbsp;</div>
  <div class='col-xs-12'>
    <h2>Tell your friends<br> about Dumberland </h2>
  </div>

  <div class='col-md-4'>&nbsp;</div>
  <div class='col-md-4 btn-duo-center'>
    <button type='button' class='btn btn-facebook' data-url='https://www.facebook.com/sharer/sharer.php?u=example.com'>
      <i class='fa fa-facebook'></i>
      Facebook
    </button>
    <button type='button' class='btn btn-twitter' data-url='https://twitter.com/intent/tweet?text=Something'>
      <i class='fa fa-twitter'></i>
      Twitter
    </button>
  </div>
  <div class='col-md-4'>&nbsp;</div>
  
</div>
