<div id='share-modal' class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content share-modal-bg">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class='row'>
          
          <p class="title-text-absolute animated fadeIn">Your present has been shared</h1>    
            
          <p class="subtitle-text-absolute animated fadeIn">
            Could it be short? Could it be sweet? 
Will it have teeth as long as your feet?
          </p>

          <div class="present-image">
            <img class="share-modal-img" src="http://clients.mccann.com.au/clients/Metro/dumberland/present-shake2.gif"></img>
          </div>  

          <div class="col-lg-12 btn-center" style="margin: 3em 0 0 0;">
              <a href="/" class="btn btn-default" style="margin-bottom: 20px">Give Another</a>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
