
<h2>Thanks {{to_name}}</h2>
<p class='intro-text'>Your message has been sent to {{from_name}}</p>


<div class='row message-complete-cont'>

  <img src='/assets/img/deadSanta.png' alt='Santa is ded' class='santa-on-pole'>

  <div class='col-md-4'>&nbsp;</div>
  <div class='col-md-4'>
    <button data-event='reset' type='button' class='btn btn-block'>Go again!</button>
  </div>
  <div class='col-md-4'>&nbsp;</div>
  <div class='col-xs-12'>
    <h2>Tell your friends<br> about Dumberland </h2>
  </div>

  <div class='col-md-4'>&nbsp;</div>
  <div class='col-md-4 btn-duo-center'>
    <button type='button' class='btn btn-facebook' data-url='https://www.facebook.com/sharer/sharer.php?u=example.com'>
      <i class='fa fa-facebook' style="margin-left: -15px;"></i>
      Facebook
    </button>
    <button type='button' class='btn btn-twitter' style="margin-left: -7px;" data-url='https://twitter.com/intent/tweet?text=Something'>
      <i class='fa fa-twitter'></i>
      Twitter
    </button>
  </div>
  <div class='col-md-4'>&nbsp;</div>
  
</div>
