@font-face {
    font-family: CooperBT;
    font-weight:800;
    src: url(/assets/fonts/CooperBT-Bold_gdi.eot);
    src: url(/assets/fonts/CooperBT-Bold_gdi.eot?#iefix) format('embedded-opentype'), url(/assets/fonts/CooperBT-Bold_gdi.woff) format('woff'), url(/assets/fonts/CooperBT-Bold_gdi.ttf) format('truetype')
}
@font-face {
    font-family: CooperBT;
    font-weight: 400;
    src: url(/assets/fonts/CooperBT-Medium_gdi.eot);
    src: url(/assets/fonts/CooperBT-Medium_gdi.eot?#iefix) format('embedded-opentype'), url(/assets/fonts/CooperBT-Medium_gdi.woff) format('woff'), url(/assets/fonts/CooperBT-Medium_gdi.ttf) format('truetype')
}
