@import "compass/css3/transform";
@import "compass/css3/transition";

@import 'lib/bootstrap';
@import 'font-awesome/font-awesome';
@import 'fonts';
@import 'media-query';
@import 'lib/animate';

@import 'animations/homepage';
@import 'animations/message';

$sky-color: #A6D2BD;
$snow-color: #FAF9F2;
$sun-color: #EAE0BA;

$text-color-default: #3E3E3E;
$text-color-secondary: #575756;
$placeholder-text-color: #999;
$input-background-default: #E1DDD2;
$btn-background-default: #C4162E;
$btn-shadow-default: #E30137;
$btn-dropshadow: rgba(0,0,0,0.1);
$btn-background-secondary: #53A88C;
$btn-shadow-secondary: #86C8B0;
$facebook-blue: #315B99;
$facebook-shadow: #6D83B4;
$twitter-blue: #4CAADE;
$twitter-shadow: #68C7F1;
$footer-links: #9A9189;

$sans-serif: 'CooperBT', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// TYPE

body {
  -webkit-font-smoothing: antialiased;
  background-color: $snow-color;
}

h1,h2,h3,h4,h5,h6,p,label,select,input,span,textarea,button,a {
  color: $text-color-default;
  font-family: CooperBT, serif;
}

.check-error .form-control {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.video-overlay {
    min-height: 150vh;
    background-color: rgba(250,249,242, 0.65);
    zoom: 1;
    
    @media screen and (min-width: 280px) and (max-width: 992px) and     (orientation: portrait) {
      min-height: 75vh;
    } 
    
}

.video-container {
  position:relative;
  padding-bottom:56.25%;
  height:0;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.share-modal-title {
  font-size: 16px;
  text-align: center;
  margin-bottom: 3em;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  padding: 0 2em;
}

.share-modal-bg {
  background-color: #ffffff;
}

.share-modal-img {
  margin: 0 auto;
  display: block;
  width: 195px;
}

.btn, .btn.btn-default {
  background-color: $btn-background-default;
  box-shadow: 0 -5px 0 $btn-shadow-default, 0 5px 0 $btn-dropshadow;
  border: none;
  color: white;
  outline: none !important;
  margin: 0 auto 5px;
  border-radius: 40px;
  font-size: 18px !important;
  font-weight: bold;
  padding: 15px 45px !important;
  text-transform: uppercase;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
  font-weight: 700 !important;
  // width: 100px;
  @media screen and (min-width: 280px) and (max-width: 350px) {
      font-size: 16px !important;
  } 

  &.btn-smallest {
      @media screen and (min-width: 280px) and (max-width: 680px) {
       padding: 8px 19px !important;
        font-size: 13px !important;
    }
  }    


  &:focus {
    color: white;
  }

  &:hover {
    color: white;
    background-color: $btn-background-default;
  }

  &:active {
    margin: -5px auto 10px;
    color: white;
    box-shadow: none;
  }

  &.btn-secondary {
    background-color: $btn-background-secondary;
    box-shadow: 0 -5px 0 $btn-shadow-secondary, 0 5px 0 $btn-dropshadow;

    &:hover {
      background-color: $btn-background-secondary;
    }
  
    &:active {
    }
  }

  &.btn-facebook {
    background-color: $facebook-blue;
    box-shadow: 0 -5px 0 $facebook-shadow, 0 5px 0 $btn-dropshadow;
    font-family: $sans-serif;
    font-weight: normal;
    text-transform: none;
    padding: 20px 0;
    width: 280px;
    font-size: 18px;

    i {
      font-size: 1.3em;
    }

    &:active {
      box-shadow: none;
    }
  }

  &.btn-twitter {
    background-color: $twitter-blue;
    box-shadow: 0 -5px 0 $twitter-shadow, 0 5px 0 $btn-dropshadow;
    font-family: $sans-serif;
    font-weight: normal;
    text-transform: none;
    padding: 20px 0;
    width: 280px;
    font-size: 18px;

    i {
      font-size: 1.3em;
    }

    &:active {
      box-shadow: none;
    }
  }
}

.btn-center {
  text-align: center;
}

.btn-duo-center {
  .btn {
    width: 45%;
    margin-right: 2%;
    margin-left: 2%;

    @include mq(xs) {
    }
  } 
}
a.page-title {
  text-indent: -9999px;
  background: url(/assets/img/site_title_desktop.png) top center no-repeat;
  /* min-width: 424px; */
  height: 144px;
  max-width: 100%;
  background-size: contain; 

  @media screen and (min-width: 280px) and (max-width: 1200px) {
     margin-top: 40px;
  } 
}

h1.page-title {
  text-indent: -9999px;
  background: url(/assets/img/site_title_desktop.png) top center no-repeat;
  height: 100px;
  margin-bottom: 20px;
  background-size: contain; 
  margin-left: auto;
  margin-right: auto;    

  @media screen and (min-width: 280px) and (max-width: 1200px) {
     margin-top: 20px;
  } 

  @media screen and (min-width: 280px) and (max-width: 992px) {
     width:60%; 
       
  }     
}

p.intro-text {
  color: $snow-color;
  font-family: $sans-serif;
  font-size: 19px;
  text-align: center;

  @media screen and (min-width: 280px) and (max-width: 1200px) {
     font-size: 16px;
     margin-top: -20px;
  } 
}

p.subtitle-text {
  color: $snow-color;
  font-family: $sans-serif;
  font-size: 23px;
  text-align: center;
  padding: 0 24%;
    line-height: 25px;
     text-shadow: 1px 1px rgba(0,0,0,0.2);
    
    
  @media screen and (min-width: 280px) and (max-width: 369px) {
    font-size: 20px;
    padding: 0 5%;
    margin-top: -15px;
    line-height: 25px;  
    margin-bottom: 10px;
  }
  @media screen and (min-width: 370px) and (max-width: 410px) {
    font-size: 20px;
    padding: 0 5%;
    margin-bottom: 35px;
  }
   @media screen and (min-width: 411px) and (max-width: 992px) {
    font-size: 20px;
    padding: 0 5%;
    line-height: 25px;
    margin-top: -10px;
    margin-bottom: 25px;
  }              
       
}

.container-xs {
    margin-top: -35px;
    max-width: 600px;
    @media screen and (min-width: 280px) and (max-width: 749px) {
         margin: 0 auto 50px;
    }
    
    @media screen and (min-width: 750px) {
         margin: 0px auto 50px;
    } 
    
}

p.subtitle-text-absolute {
  color: $snow-color;
  font-family: $sans-serif;
  font-size: 20px;
    text-align: center;
    padding: 0 10%;
    line-height: 25px;
    margin-top: 20px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);     
}

p.title-text-absolute {
  color: $snow-color;
  font-family: $sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 0 10%;
    line-height: 25px;
     text-shadow: 1px 1px rgba(0,0,0,0.2);         
}


.dead-santa {
    margin: 0 auto;
    display: block;
    
    @media screen and (min-width: 280px) and (max-width:350px) {
         margin-top: 30px;
    }
    @media screen and (min-width: 351px) and (max-width:410px) {
         margin-top: -35px;
    }
    @media screen and (min-width: 411px) and (max-width:991px) {
         margin-top: -10px;
    }
    @media screen and (min-width: 992px) {
         margin-top: 20px;
    }
}

.copyright {
    text-align: center;
    font-family: "CooperBT", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* line-height: 28px; */
    /* float: right; */
    /* margin-left: 20px; */
    color: #9A9189;
    /* margin-top: 54px; */
}


// LAYOUT

#header {
 a[data-event] {
  float: right;
  color: $snow-color;
  font-family: $sans-serif;
  font-size: 17px;
  margin-top: 10px;
 }
}

#footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  width: 100%;

  .container {
    margin: auto;
  }

  .footer-logo {
    width: 104px;
    height: 43px;
    display: block;
    margin: 0 auto -30px;

    @include mq(xs) {
      margin: 0 auto 20px;
    }
  }

  .share-links {
    @include mq(xs) {
      text-align: center;
      margin-bottom: 10px;
    }

    a {
      border-radius: 9px;
      background-color: $footer-links;
      width: 28px;
      height: 28px;
      display: inline-block;
      text-align: center;

      i {
        line-height: 28px;
        color: $snow-color; 
      }
    }
  }
  .footer-links {
    a {
      font-family: $sans-serif;
      line-height: 28px;
      float: right;
      margin-left: 20px;
      color: $footer-links;
    }
    @include mq(xs) {
      text-align: center;
      a {
        float: none
      }
    }
  }
}

#main {
  padding-bottom: 80px;
  min-height: 1080px;
  min-height: 100vh;
  position: relative;

  overflow: hidden;

  @include mq(xs) {
    padding-bottom: 170px;
  }
}

#homepage {
  
  
}

#message {

  form {
    margin: 0px 0 100px;

    h3, label, input, textarea, a {
      font-family: $sans-serif;
    }
    h3 {
      text-align: center;
      font-size: 23px;
      font-weight: bold;
    }

    .btn-center {
      margin-top: 40px;
    }
  }

  .message-complete-cont {
    padding-bottom: 40px;

    h2 {
      text-align: center;
      color: $text-color-secondary;
      font-weight: bold;
      font-size: 25px; 
    }
  }

}

#present {
  h3 {
    color: $snow-color;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
  }
  h2 {
    text-align: center;
    color: $text-color-secondary;
    font-weight: bold;
    font-size: 25px; 
  }
  .santa-present-dance {
    margin: -40px auto; 
   
  }

}

#present-modal {
  .modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .modal-content {
    height: 100%;
    border-radius: 0;
  }

  .modal-body {
    padding: 0;
    position: relative;
    height: 100%;

    button {
      position: absolute;
      bottom: 40px;
      right: 40px;
    }
  }
}

#thank {
  h2 {
    color: $snow-color;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
  }

  .santa-nopres-dance {
    margin: -40px auto;  
  }

  img.santa-on-pole {
    width: 95px;
    margin: 130px auto 0;
    display: block;
  }

  .message-complete-cont {
    img.santa-on-pole {
      margin: 150px auto 30px;
    }
  }

  form {
    margin: 0px 0 100px;
    h3, label, input, textarea, a {
      font-family: $sans-serif;
    }
    h3 {
      text-align: center;
      font-size: 19px;
    }

    .btn-center {
      margin-top: 40px;
    }
  }
}

.background {
  position: absolute;
  width: 100%;
  height: 880px;
  z-index: -1;

  // TODO: Make mound more like design
  .sky {
    background-color: #A6D2BD;  
//    background: url(/assets/img/texture-overlay.jpg);
    width: 100%;
    position: absolute;
    height: 880px;
    overflow: hidden;
    @media screen and (min-width: 280px) and (max-width: 1200px) {
     height:705px;
    } 
    
    .sun {
      background-color: $sun-color;
      width: 79px;
      height: 79px;
      border-radius: 50%;
      position: absolute;
      top: 122px;
      left: 30%;
      @media screen and (min-width: 280px) and (max-width: 750px) {
        display: none;
      } 
      @media screen and (min-width: 751px) and (max-width: 1200px) {
        left: 16.5%;
      } 
    }

    .snow-mound-with-trees {
      background: url(/assets/img/mound_with_trees_desktop.svg) top center no-repeat;
      width:100%;
      position: absolute;
      top: 305px;
      height: 100%;
      left: 50%;
      @include transform(translateX(-50%));
      @include transition(top .3s);
    }

  }
}

// FORMS

input, textarea {
  &.form-control {
    border: none;
    background: $input-background-default;
    &::-webkit-input-placeholder {
      color: $placeholder-text-color;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $placeholder-text-color;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
      color: $placeholder-text-color;
    }
    &:-ms-input-placeholder {  
      color: $placeholder-text-color;
    }
  }
}


.checkbox {
  label.form-control {
    border: none;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  input[type="checkbox"] {
    visibility: hidden;
  }
  input[type="checkbox"] + label span {
    display:inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 1.2em;
    border-radius: 3px;
    margin: -1px 10px 0 -20px;
    vertical-align:middle;
    cursor:pointer;
    text-align:center;
    background: $input-background-default;
    font-family: 'FontAwesome';
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

    &:before {
      content: " ";
    }
  }
  input[type="checkbox"]:checked + label span {
    &:before {
      content: "\f00c";
    }
  }
}

// MODAL
.modal {
  .modal-header, .modal-footer {
     border: none;
  }
  .modal-body {
    p {
      color: $text-color-default;
    }
  }
}
